@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body, html, p {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    display: flex;
}

/* ----------------------------CONTAINER------------------------------- */

.container {
    width: 100%;
    margin: 0 40px;
    display: flex;
    justify-content: space-between;
}

/* ------------------------------SIDE BAR-------------------------------- */

.sidebar {
    background-color: white;
    height: 100vh;
    width: 18%;
}

.sidebar .navigation {
    height: 80%;
    position: relative;
    padding-top: 50px;
}

.sidebar .logo {
    height: 20%;
}

.sidebar .list {
    color: #444;
    /* font-size: 1.1rem;  */
    height: 60px;
}

.sidebar .list {
    display: flex;
}

.sidebar p {
    width: 80%;
    margin: auto 30px;
}

.sidebar img {
    /* width: 20px; */
    height: 20px;
    margin: auto;
    padding-right: 20px;
}

.sidebar #side-dash {
    background-color: #F2F2F2;
    border-left: 5px solid #1A038C;
}

.sidebar #side-dash p {
    font-weight: bolder;
    margin-left: 25px;
}

.sidebar .bar {
    width: 5px;
    color: #1A038C;
}

.sidebar .logo p {
    color: #1A038C;
    font-weight: bolder;
    font-size: 30px;
    padding-left: 25px;
    margin: 0;
}

.sidebar #img-home {
    position: absolute;
    width: 20px;
    left: 225px;
}

/* ----------------------------MAIN BAR-------------------------------- */

.mainbar {
    background-color: #E6EBFF;
    height: 100vh;
    width: 82%;
}

.mainbar .row-1 {
    width: 100%;
    height: 100px;
    /* background-color: lightgrey; */
    display: flex;
    justify-content: space-evenly;
}

.mainbar .row-1 .overview {
    padding: 10px;
    background-color: white;
    width: 10%;
    height: 40px;
    margin: auto 0;
    display: flex;
}

.overview p {
    justify-self: center;   
    margin: auto;
    font-weight: bolder;
}

.mainbar .row-1 .location {
    padding: 10px;
    background-color: white;
    width: 50%;
    height: 40px;
    margin: auto 0;
    display: flex;
    justify-content: center;
}

.location p {
    margin: auto;
}

.location img {
    width: 15px;
    padding-left: 5px;  
}

.mainbar .row-1 .account {
    padding: 10px;
    background-color: white;
    width: 30%;
    height: 40px;
    margin: auto 0;
    display: flex;
    justify-content: center;
}

/* ----------------ACCOUNT--------------------- */

.account {
    display: flex;
}

.account * {
    margin: auto;
}

.account p {
    margin: auto;
}

.account button {
    background-color: #FB2626;
    color: white;
    border: none;
    outline: none;
    padding: 10px 25px;
    cursor: pointer;
}

.account button:hover {
    background-color: white;
}

.mainbar .row-2 {
    width: 100%;
    height: 370px;
    /* background-color: lightcyan; */
    display: flex;
    justify-content: space-between;
}

/* -----------------------GRAPH---------------------- */

.mainbar .row-2 .graph {
    height: 350px;
    width: 80%;
    background-color: white;
    margin: auto 0;

}

/* ------------------------STATUS INDICATOR------------------- */

.mainbar .row-2 .status {
    height: 350px;
    width: 17%;
    background-color: white;
    margin: auto 0;
    display: flex;
    flex-flow: column;
}

.mainbar .row-2 .status * {
    margin: auto;
}

.mainbar .row-2 .status .title {
    font-size: 1.1rem;
    margin: 25px auto 10px auto;
    font-weight: bolder;
}

.mainbar .row-2 .status .indicating label {
    margin-top: 25px;
}

.mainbar .row-2 .status .sensing label {
    margin-top: 25px;
}

.switch {
  position: relative;
  display: block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

input:checked + .slider {
  background-color: #3C4CB1;
}

input:focus + .slider {
  box-shadow: 0 0 1px #3C4CB1;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}