.about-1 {
    width: 100%;
    height: 40%;
    display: flex;
}

.about-2 {
    width: 100%;
    height: 60%; 
    display: flex;
    flex-direction: column;
}

.main-pic {
    height: 80%;
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.main-pic img {
    width: 200px;
    margin: auto;
}

.main-pic p, .side-picture p {
    margin: auto;
}

.side-picture img {
    width: 120px;
    margin: auto;
}

.about-name {
    font-weight: bolder;
}

.about-name-side {
    font-weight: bolder;
    padding: 1em 0;
}

.side-picture {
    width: 25%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.about-2-side {
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}